body, html {
    width: 100%;
    height: 100%;
    font-family:'Baloo Da 2', cursive;
    background: url(pozadina.jpg) no-repeat center center fixed;
    background-size: cover;
}

#pocetna {
	display: flex;
	justify-content: center;
	align-items: center;
}


#aboutheader {
	border: 1px solid grey;
	border-radius: 11px;
	background-color: rgba(255, 247, 246, 0.3);
	margin: 15px;
}

#footer {
	border: 1px solid grey;
	border-style: none;
	border-radius: 40px;
}

#about {
	font-size: 22px;
	color: #FFF;
	text-align: center;
	text-shadow: 2px 1px 1px #8C0D00;
	margin: 30px;
}

#uvod {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 35px;
	color: #8B0305;
}

#pocetnarecenica {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px;
}




