 html, body{
    width: 100%;
    height: 98%;
    font-family: 'Josefin Sans', sans-serif;
    background: url(pozadina.jpg) no-repeat center center fixed;
    background-size: cover;
}


.pocetna {
	display: flex;
	justify-content: center;
	margin: 20px;
}


body footer {
	display: flex;
	justify-content: center;
	margin-top: 90px;
	margin-left: 40px;
	margin-right: 40px;
	text-align: center;
}

button {
	margin: 5px;
    background-color: #012660;
    border-radius: 18px;
    font-size: 22px;
    text-align: center;
    color: #b10406;
    padding: 10px 18px;
    border-style: none;
    text-shadow: 3px 1px 1px #1b0101bf, 0 0 25px #879edc, 0 0 2px #242701;
    box-shadow: 0px 4px 2px #000000, 0px 1px 5px 9px #8b0305, inset 0px 0px 0px 2px #f1ff02;
    transition-duration: 0.4s;
}

button:hover {
	background-color: #880000eb;
	color: #1c0d0d;
	transform: scale(1.1);
}

#uvod {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 40px;
	color: #8B0305;
	font-weight: 900;
	word-wrap: break-word;
	margin: 2px 40px;
	text-shadow: 4px -1px 4px #000000, 0 0 25px #01056285, 0 0 2px #000045;
}

#aboutheader {
	border: 1px solid #5b00008f;
    border-radius: 11px;
    background-color: rgba(0, 0, 0, 0.83);
    margin: 20px 50px;
}

#about {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 22px;
	text-align: center;
	text-shadow: 1px 1px black;
	margin: 30px;
    color: #8B0305;
}

.podiums {
	list-style: numbered inside;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.5rem;
	border: 1px solid #5b00008f;
    border-radius: 11px;
	background-color: rgba(0, 0, 0, 0.83);	
	padding-top: 20px;
    padding-right: 50px;
    padding-left: 60px;
}

.p3 {
	color: firebrick;
}

.p2 {
	color: rgba(248, 244, 0, 0.966); 
}

.p1 {
	color: #184ea2;
}


#f1logo {
	width: 15%;
	height: auto;
	position: fixed;
  	bottom: 20px;
  	right: 10px;
}





